<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand text-white">JWT Auth System</a>
  <a class="navbar-brand text-white" routerLink='/resetpassword'>Reset Password</a>
  <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>

<div class="card m-5" style="width:18rem" *ngIf="userDetails">
  <ul class="list-group">
    <li class="list-group-item"><strong>Username : </strong>{{userDetails.userName}}</li>
    <li class="list-group-item"><strong>FullName : </strong>{{userDetails.fullName}}</li>
    <li class="list-group-item"><strong>Email : </strong>{{userDetails.email}}</li>
  </ul>
</div>

<div class="card m-5" style="width:18rem" >
  <form class="mb-4">
    <div class="form-group">
      <label>QuoteType</label>
      <br>
      <select>
        <option>Domestic</option>
        <option>AlaskaHawaii</option>
        <option>International</option>
      </select>
    </div>
    <div class="form-group">
      <label>CODAmount</label>
      <input type="txt" >
    </div>
    <div class="form-group">
      <fieldset>
        <legend>Enter Your Origin</legend>
        <label>City</label>
        <br>
        <input type="text"><br><br>
        <label>StateOrProvince</label>
        <br>
        <input type="text"><br><br>
        <label>ZipOrPostalCode</label>
        <br>
        <input type="text"><br><br>
        <label>CountryCode</label>
        <br>
        <input type="text"><br><br>
      </fieldset>
    </div>
    
    <div class="form-group">
      <fieldset>
        <legend>Enter Your Destination</legend>
        <label>City</label>
        <br>
        <input type="text"><br><br>
        <label>StateOrProvince</label>
        <input type="text"><br><br>
        <label>ZipOrPostalCode</label>
        <input type="text"><br><br>
        <label>CountryCode</label>
        <input type="text"><br><br>
      </fieldset>
    </div>

    <div class="form-group">
      <fieldset>
        <legend>Item</legend>
        <label>Class</label>
        <br>
        <input type="text"><br><br>
        <label>Weight</label>
        <br>
        <input type="text"><br><br>
        <label>Width</label>
        <br>
        <input type="text"><br><br>
        <label>Height</label>
        <br>
        <input type="text"><br><br>
        <label>Length</label>
        <br>
        <input type="text"><br><br>
      </fieldset>
    </div>

  <!-- <button (click)="addNewItem()" class="btn btn-success">Add Anthor Item</button>
  <div class="row mt-2" formArrayName="alternativeItems" *ngFor="let newItem of alternativeItems.controls; let i=index">
      <fieldset [formControlName]="i">
        <legend>Item {{i+1}} </legend>
        <label>Class</label>
        <input type="text"><br><br>
        <label>Weight</label>
        <input type="text"><br><br>
        <label>Width</label>
        <input type="text"><br><br>
        <label>Height</label>
        <input type="text"><br><br>
        <label>Length</label>
        <input type="text"><br><br>
      </fieldset>
      <button (click)="removeItem(i)" class="btn btn-danger col-1">X</button>
  </div> -->

  <div class="form-group">
    <label>DeclaredValue</label>
    <input type="txt">
  </div>

  

    <div class="form-row">
      <div class="form-group col-md-8 offset-md-2">
        <button type="submit" class="btn btn-lg btn-block" [disabled]="form.invalid">Post</button>
      </div>
    </div>
  </form>
</div>